/* 
Global styling for application - widgets, styles, colors, layouts, etc. 

Useful tool:
https://www.sessions.edu/color-calculator/


Original Java 8 Modena stylesheet:
  https://gist.github.com/maxd/63691840fc372f22f470

Tutorial:
  http://code.makery.ch/library/javafx-8-tutorial/part4/
*/


* {
   -anthrecite: #2b292e;
   -anthrecite-ish:#3b3248; /* slightly more purple */
   -light-border: GAINSBORO;
   -g-background-color: derive(WHITESMOKE, 20%);
}

.root {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
    -fx-text-base-color: -anthrecite-ish;
    -fx-background-color: -g-background-color;
}

.tooltip {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto Mono";
    -fx-background-radius: 3;
}

.hyperlink {
    -fx-border-color: transparent;
}
.hyperlink:visited {
    -fx-underline: false;   
}
.hyperlink:hover:visited {
    -fx-underline: true;   
}


.g-small-button {
    -fx-font-size: 12;
    -fx-padding: 4 8;
}  

.g-small-menubutton {
    -fx-font-size: 12;
    -fx-padding: 0 0;
}  


/*
https://stackoverflow.com/questions/30680570/javafx-button-border-and-hover#30680668
*/
.g-no-button {
    -fx-background-color: transparent;
}  
.g-no-button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}  

.g-launcher-button {
    -fx-background-color: -g-background-color;
    -fx-background-radius: 6;
    -fx-border-color: gray;
    -fx-border-width: 0.5;
    -fx-border-radius: 6;
}
.g-launcher-button:hover {
    -fx-background-color: derive(-g-background-color, -5%);
}
/*
http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/
*/


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 13 0;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 13 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}
