/*
http://www.guigarage.com/2014/10/integrate-custom-fonts-javafx-application-using-css/
Note update at bottom of page.
*/

/*
As of java9, the hack used previously won't work to preload fonts.
Therefore font-files are simply listed in the file fonts.txt, and the list used read and used in code to pre-load fonts.
*/

/*
@font-face {
    src: url('SourceCodePro-Regular.ttf');
}
@font-face {
    src: url('SourceCodePro-Medium.ttf');
}
@font-face {
    src: url('SourceCodePro-Semibold.ttf');
}
@font-face {
    src: url('Roboto-Regular.ttf');
}
@font-face {
    src: url('Roboto-Italic.ttf');
}
@font-face {
    src: url('Roboto-Bold.ttf');
}
@font-face {
    src: url('RobotoMono-Regular.ttf');
}
@font-face {
    src: url('OpenSans-Regular.ttf');
}
*/